ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Toda la altura de la pantalla */
  }

ion-grid {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  ion-row {
    &:first-child {
      background-color: #56be9b;
      font-weight: bold;
    }

    ion-col {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #e0e0e0;

      &:first-child {
        border-right: 1px solid #e0e0e0;
      }
    }

    &:last-child ion-col {
      border-bottom: none;
    }
  }
}

ion-button {
    margin-top: 20px;
    align-self: center; /* Centrar el botón horizontalmente */
  }

ion-datetime {
  margin: 20px 0; /* Añadir margen para separar del resto del contenido */
  width: 100%; /* Asegura que el calendario ocupe todo el ancho disponible */
  max-width: 400px; /* Limitar el ancho máximo para que no sea demasiado grande */
}

ion-icon {
  display: inline-block !important;
  visibility: visible !important;
  opacity: 1 !important;
}
