<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/principal" color="primary">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cómo llegar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="map-container">
    <iframe
      src="//www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13308.198621377389!2d-70.6162928!3d-33.5000852!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d00be4a5fa81%3A0xcd8eaf5b1d547f64!2sDuoc%20UC%3A%20Sede%20San%20Joaqu%C3%ADn!5e0!3m2!1ses!2scl!4v1731790386697!5m2!1ses!2scl" 
      width="100%"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    >
    </iframe>
  </div>
</ion-content>
