<ion-header>
  <ion-toolbar>
    <ion-title>
      Página Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="usuario">
    <ion-card-header>
      <ion-card-title>¡Bienvenido, {{ usuario.nombreCompleto }}!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Nombre de usuario:</h2>
            <p>{{ usuario.username }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Nombre completo:</h2>
            <p>{{ usuario.nombreCompleto }}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>RUN:</h2>
            <p>{{ usuario.run }}</p>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="weather">
          <ion-label>
            <h2>Clima actual:</h2>
            <p>Temperatura: {{ weather.temperature }}°C</p>
            <p>Velocidad del viento: {{ weather.windspeed }} km/h</p>
            <p>Dirección del viento: {{ weather.winddirection }}°</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" color="success" (click)="explorarApp()">
    Explorar Aplicación
  </ion-button>

  <ion-button expand="full" color="medium" (click)="contactarSoporte()">
    Contactar Soporte
  </ion-button>

  <ion-button expand="full" color="tertiary" (click)="irACambiarContrasena()">
    Cambiar Contraseña
  </ion-button>

  <ion-button expand="full" color="warning" (click)="cerrarSesion()">
    Cerrar Sesión
  </ion-button>

  <ion-button expand="full" color="danger" (click)="borrarCuenta()">
    Borrar Cuenta
  </ion-button>

  <ion-button expand="full" (click)="obtenerUbicacion()">Actualizar Ubicación y Clima</ion-button>
</ion-content>
