<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center; color: aqua;">¡Bienvenido!</ion-title>
    <h6 style="text-align: center; color: aqua;">Por favor registrese para acceder a los beneficios completos de nuestra app</h6>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="register-container">
    <h2 style="color: rgb(113, 113, 237);">Crear Cuenta</h2>
    
    <form (ngSubmit)="registrar()">
      <ion-item>
        <ion-input [(ngModel)]="username" name="username" label="Nombre de usuario" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="nombreCompleto" name="nombreCompleto" label="Nombre completo" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="run" name="run" label="RUT" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" name="password" label="Contraseña" labelPlacement="floating" type="password"></ion-input>
      </ion-item>
      
      <ion-button expand="full" type="submit">Registrar</ion-button>
    </form>
  </div>
</ion-content>
